/* | General | */

body {
  background-color: rgb(240, 240, 230);
  font-family: Zain;
  padding: 0 0.25rem;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

/* | Home | */

.recipeCard:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
}

.cardDrawer {
  top: 100% !important;
  height: 0;
  transition: all 0.2s;
}

.recipeCard:hover .cardDrawer {
  display: block;
  top: 0 !important;
  height: 100%;
}

/* | Log In or Sign Up | */

@media (min-width: 758px) {
  #formWrapper {
    width: fit-content;
  }
  .form-floating {
    width: 40vw;
  }
}
.linkLine {
  position: relative;
}
.linkLine::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 15%;
  width: 0;
  background-color: black;
  transition: width 0.1s;
}
.linkLine:hover::after {
  width: 100%;
}
