/* | General | */

body {
  background-color: white;
  font-family: Zain;
  padding: 0 0.25rem;
}

.bgBrown {
  background-color: rgb(150 110 60);
}

.bgBlue {
  background-color: rgb(100 140 190);
}

.pointerHover:hover {
  cursor: pointer;
}

.underlineAnimation {
  position: relative;
}
.underlineAnimation::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 15%;
  width: 0;
  background-color: black;
  transition: width 0.2s;
}
.underlineAnimation:hover::after {
  width: 100%;
}

/* | Home | */

.recipeCard:hover {
  box-shadow: 3px 3px black;
  transition: box-shadow 0.2s;
}

.cardDrawer {
  top: 100% !important;
  height: 0;
  background-color: rgb(255 255 255 / 75%);
  transition: all 0.2s;
}
.recipeCard:hover .cardDrawer {
  display: block;
  top: 0 !important;
  height: 100%;
}

.filterItem {
  position: relative;
  border-right: 3px solid rgb(100 140 190) !important;
}
.filterItem::after {
  content: "";
  position: absolute;
  background-color: rgb(100 140 190);
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  transition: width 0.2s;
}
.filterItem:hover::after {
  width: 100%;
}

.list-group {
  border-radius: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

/* | Log In or Sign Up | */

@media (min-width: 758px) {
  #formWrapper {
    width: fit-content;
  }
  .form-floating {
    width: 40vw;
  }
}
